In [1]:
import pandas
import sklearn
from sklearn.model_selection import train_test_split

In [2]:
# merged_df = pandas.read_csv('./inspectionAndPlutoMerged.csv') #inspection + pluto
forAlgos_df = pandas.read_csv('./forAlgos.csv')

In [3]:
cusineCounts = forAlgos_df['CUISINE_DESCRIPTION'].value_counts()
print(cusineCounts)

American             14759
Chinese               6602
Café/Coffee/Tea       4776
Pizza                 3206
Mexican               2744
                     ...
Fruits/Vegetables       14
Czech                   12
Iranian                 12
Scandinavian            11
Southwestern             6
Name: CUISINE_DESCRIPTION, Length: 82, dtype: int64

In [4]:
forAlgos_df.head()

,Unnamed: 0,BORO,ZIPCODE,CUISINE_DESCRIPTION,GRADE,yearbuilt,lotarea,bldgarea,comareaPCT,resareaPCT,officeareaPCT,retailareaPCT,garageareaPCT,strgeareaPCT,factryareaPCT,otherareaPCT,assessland,assesstot
0,0,Brooklyn,11225,Hamburgers,A,1965.0,21934.0,3515.0,1.000000,0.000000,0.0,1.000000,0.0,0.0,0.0,0.0,189450.0,562950.0
1,1,Brooklyn,11225,Hamburgers,A,1965.0,21934.0,3515.0,1.000000,0.000000,0.0,1.000000,0.0,0.0,0.0,0.0,189450.0,562950.0
2,2,Brooklyn,11225,Hamburgers,A,1965.0,21934.0,3515.0,1.000000,0.000000,0.0,1.000000,0.0,0.0,0.0,0.0,189450.0,562950.0
3,3,Manhattan,10019,Irish,A,1930.0,2209.0,7603.0,0.131527,0.868473,0.0,0.131527,0.0,0.0,0.0,0.0,299250.0,3401550.0
4,4,Manhattan,10019,Irish,A,1930.0,2209.0,7603.0,0.131527,0.868473,0.0,0.131527,0.0,0.0,0.0,0.0,299250.0,3401550.0

In [5]:
forAlgos_df = pandas.read_csv('./forAlgos.csv')
one_hot = pandas.get_dummies(forAlgos_df.CUISINE_DESCRIPTION, prefix='CUISINE')
forAlgos_df = forAlgos_df.drop('CUISINE_DESCRIPTION', axis=1)
forAlgos_df = forAlgos_df.join(one_hot)
one_hot = pandas.get_dummies(forAlgos_df.BORO, prefix='BORO')
forAlgos_df = forAlgos_df.drop('BORO', axis=1)
forAlgos_df = forAlgos_df.join(one_hot)
def filterGrade(g):
    return g == 'A' | g == 'B' | g == 'C'
forAlgos_df = forAlgos_df[forAlgos_df['GRADE'].isin(['A', 'B', 'C'])]

In [6]:
forAlgos_df['GRADE'].replace({"A": 90, "B": 80, "C": 70}, inplace=True)

In [7]:
forAlgos_df.columns

Index(['Unnamed: 0', 'ZIPCODE', 'GRADE', 'yearbuilt', 'lotarea', 'bldgarea',
       'comareaPCT', 'resareaPCT', 'officeareaPCT', 'retailareaPCT',
       ...
       'CUISINE_Tex-Mex', 'CUISINE_Thai', 'CUISINE_Turkish',
       'CUISINE_Vegetarian', 'CUISINE_Vietnamese/Cambodian/Malaysia',
       'BORO_Bronx', 'BORO_Brooklyn', 'BORO_Manhattan', 'BORO_Queens',
       'BORO_Staten Island'],
      dtype='object', length=103)

In [8]:
X = forAlgos_df[forAlgos_df.columns[~forAlgos_df.columns.isin(['Unnamed: 0','GRADE'])]]
Y = forAlgos_df[['GRADE']]
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.2)

In [9]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(x_train, y_train)

LinearRegression()

In [10]:
y_pred = clf.predict(x_test)

In [11]:
y_pred

array([[89.51902892],
       [88.42035168],
       [87.8278835 ],
       ...,
       [89.55081454],
       [88.44903781],
       [88.66683747]])

In [12]:
y_test

       GRADE
43314     90
32511     90
58602     90
64802     90
46103     90
...      ...
5886      80
66990     90
32334     90
54371     80
48810     90

[13543 rows x 1 columns]

In [13]:
from sklearn import metrics
metrics.mean_squared_error(y_test, y_pred)

14.82231692115689

In [14]:
from sklearn.ensemble import RandomForestClassifier
rfclf=RandomForestClassifier(n_estimators=100)
rfclf.fit(x_train, y_train)

RandomForestClassifier()

In [15]:
y_pred = rfclf.predict(x_test)

In [16]:
metrics.mean_squared_error(y_test, y_pred)

7.036845602894484